.cardViewNumber {
  position: absolute;
  width: 75px;
  height: 23px;
  background-color: var(--badgeBgColor);
  right: 16px;
  top: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.cardViewNumber img {
  height: 11px;
  width: 11px !important;
}

.cardBadge {
  background-color: var(--badgeBgColor);
  font-size: clamp(10px, 1vw, 12px);
  padding: 2.5px 10px;
  margin-left: 5px;
  border-radius: 20px;
}


.caseCatalogCardBadgeButton {
  cursor: pointer;
  padding: 5px 10px;
  width: fit-content;
  margin: 5px;
  background-color: rgba(239, 239, 239, 0.13);
  /* Transparent */
  backdrop-filter: blur(2.5px);
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 12px;
}