.swiperTitle {
  color: var(--secondaryWhiteColor);
  letter-spacing: -0.03em;
}

.swiper-slide {
  width: auto !important;
}

.swiper-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiperGeer {
  position: absolute;
  bottom: 0;
  right: 0;
}