.wrapper {
  max-width: 1440px;
  padding: clamp(20px, 3vw, 40px) 0;
  margin: auto;
  background-color: var(--primaryBgColor);
}

.container {
  padding: 0 75px;
}

.section {
  margin-bottom: 76px;
  padding: 64px 64px 44px 64px;
}

.sectionHeader {
  margin-bottom: clamp(36px, 10vw, 80px);
}

.heroSection {
  position: relative;
  background-image: url('../../assets/background/heroVideo.gif');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.heroSection::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.heroContent {
  position: relative;
  z-index: 2;
}

.firstGroup {
  justify-content: flex-end;
  margin-bottom: 50px;
  margin-right: 164px;
}

.secondGroup {
  margin-left: 187px;
  margin-bottom: 3px;
}

.secondGroup .smallTransButton,
.chichaHidden .transButton:nth-of-type(2) {
  background-color: var(--secondaryWhiteColor);
  color: var(--primaryBgColor);
}

.thirdGroup {
  justify-content: flex-end;
  margin-right: 26px;
}

.chichaHidden .smallTransButton {
  font-size: 10px;
  line-height: 12.55px;
}

.smallBoxSquare {
  position: absolute;
  background-color: var(--primaryBgColor);
  width: 30px;
  height: 30px;
  right: 323px;
  top: 0;
}

.smallBoxSquare1 {
  right: 0;
  top: 106px;
}

.smallBoxRound {
  background-color: var(--secondaryWhiteColor);
  width: 30px;
  height: 30px;
  border-radius: 0 10px 0 0;
}

/* .pendingSquare {
  background-image: url('../../assets//background/roundWhite.png');
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: right;
  border-radius: 10px;
  margin-top: 37px;
} */

.pendingSquare {
  position: relative;
  background-color: var(--secondaryWhiteColor);
  border-radius: 10px;
  margin-top: 37px;
}


.hero_wrapper {
  position: relative;
  height: auto;
}

.hero_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  color: var(--primaryWhiteColor);
}


.hero_main div img {
  border-radius: 8px;
  object-fit: cover;
  flex: 1 1 auto;
  transition: flex-basis 0.5s ease;
}

.hero_main div .x16 {
  position: absolute;
  margin-top: 30px;
}

.hero_main div .x12 {
  margin-top: 55px;
  position: absolute;
}

.hero_main div:nth-child(3) {
  padding: 0 35% 0 clamp(42%, 10vw + 12%, 42%);
}

.hero_main div:nth-child(6) {
  margin: 0px 0 0 287px;
}


/* contact */
hr {
  border: none;
  border-top: 1px solid var(--darkTextColor);
  color: var(--darkTextColor);
}

.contactWrapper {
  color: var(--secondaryWhiteColor);
  padding: clamp(10px, 4.85%, 30px);
}

.contactTop {
  color: var(--secondaryWhiteColor);
}

.contactMiddle {
  color: var(--secondaryWhiteColor);
  gap: 25px;
}

.hrStyle {
  margin: 50px 0;
}

.formLeft {
  display: grid;
  gap: 18px;
  width: 361px;
  padding-right: 8.6%;
}

.formRight {
  width: 48.2%;
}

.contactFooter {
  color: var(--secondaryWhiteColor);
}

.smallhero_main .smallgallery {
  display: flex;
  justify-content: space-evenly;
  margin: clamp(12px, 3vw, 30px) 0;
  gap: clamp(12px, 2vw, 30px);
}

@media(max-width:1331px) {

  .section {
    padding: 0;
  }

  .hero_main {
    justify-content: space-between;
    gap: 8px;
  }

  .hero_main div:nth-child(3) {
    padding: 0;
  }

  .hero_main div:nth-child(6) {
    margin: 0;
  }
}

@media screen and (max-width: 1170px) {

  .hrStyle {
    margin: 30px 0;
  }

  .formLeft,
  .formRight {
    width: 100%;
    padding: 0;
  }

  .container {
    padding: 0 60px;
  }

  .hero_wrapper h1 {
    font-size: 30px;
  }

}

@media screen and (max-width: 768px) {
  .contactFooter {
    display: grid !important;
  }

  .container {
    padding: 0 30px;
  }

  .section {
    margin-bottom: 50;
    padding: 30px;
  }

  .pageTitle {
    text-align: center !important;
  }
}

@media screen and (max-width:500px) {

  .container {
    padding: 0 10px;
  }

  .section {
    margin-bottom: 100px;
    padding: 0px;
  }

  .sectionHeader {
    width: 100% !important;
  }

  .pendingSquare {
    padding: 30px !important;
  }

  .heroContent {
    padding-left: 11px !important;
    padding-right: 11px !important;
  }
}

/* contact */

@media(max-width:560px) {
  .formLeft {
    padding: 0px;
  }

  .formLeft .x14 {
    font-size: 12px;
  }
}

/* @media (max-width:320px) {
  .hero_main div:nth-child(6) img {
    margin-top: -58px;
  }
} */