.pendingCard {
  max-width: 559px;
  flex: 1 1 auto;
  transition: flex-basis 0.5s ease;
}

.pendingCardContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 32px;
}

.pendingCardContent .cardDescription {
  max-width: 355px;
  padding: 20px 0;
}

.publicationCard {
  padding: 16px;
  width: 371px;
  background-color: var(--secondaryWhiteColor);
  border-radius: 5px;
  flex: 1 1 auto;
  transition: flex-basis 0.5s ease;

  color: var(--primaryBgColor);
  font-weight: 500;
  font-size: 12px;
  line-height: 15.06px;
  letter-spacing: -3%;
}

.pendingCard img,
.publicationCard img {
  width: 100%;
  border-radius: 10px;
}

.portfolioSection {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.blogCard {
  max-width: 403px;
  background-color: var(--secondaryWhiteColor);
  box-sizing: border-box;
  padding: 30px;
  border-radius: 5px;
  flex: 1 1 auto;
  transition: flex-basis 0.5s ease;
}

.textBlogCard {
  display: grid;
  gap: clamp(27px, 3vw, 42px);
  color: #151515;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.59px;
  letter-spacing: -0.01em;
  text-align: left;
}

.textBlogCardImg {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  object-fit: cover;
}

.textBlogCardNumber {
  color: #686868;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  letter-spacing: -0.03em;
}

.videoBlogCard {
  display: grid;
  gap: 23px;
  color: var(--primaryBgColor);
  font-size: 12px;
  font-weight: 700;
  line-height: 15.06px;
  letter-spacing: -0.03em;
}

.videoBlogCardDescription {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: -0.01em;
}

@media screen and (max-width: 1280px) {
  .pendingCard {
    width: 400px;
  }
}

@media screen and (max-width: 768px) {
  .pendingCard {
    width: 100%;
  }

  .pendingCard img {
    border-radius: 5px;
  }

  .pendingCardContent,
  .pendingCardContent .cardDescription {
    padding-top: 12px;
  }

}

.caseCatalogCard {
  padding-top: 30px;
  max-width: 317px;
  width: 100%;
  height: 175px;
  border-radius: 5px;
  transition: flex-basis 0.5s ease;
  margin-bottom: clamp(20px, 4vw, 66px);
  font-weight: 500;
  font-size: 12px;
  line-height: 15.06px;
}

.caseCatalogCard img {
  max-width: 317px;
  width: 100%;
}

.caseCatalogTopic {
  font-size: 16px;
  font-family: Mulish, sans-serif;
  font-weight: 700;
  background-color: transparent;
  border: none;
  outline: none;
  color: #FFFFFF;
}

.caseCatalogType {
  font-size: 14px;
  font: Mulish;
  font-weight: 700;
  background-color: transparent;
  border: none;
  outline: none;
  color: #B5B5B5;
}

.caseCatalogAddress {
  font-size: 12px;
  font: Mulish;
  font-weight: 700;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #FFFFFF;

}

.caseCatalogParagraph {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  width: 100%;

}

.CaseCatalogIconAddress {
  color: white;
  display: flex;
  justify-items: first baseline;
  gap: 5px;
  padding-top: 16px;
  align-items: center;
}


@media (max-width:850px) {
  .caseCatalogTopic {
    letter-spacing: -0.8px;
  }
}

@media (max-width:768px) {
  .caseCatalogTopic {
    letter-spacing: 0px;
  }

  .caseCatalogCard {
    margin-bottom: 60px;
  }
}